#doctml > * {
	margin-bottom: 14px;
}

#doctml .top {
	vertical-align: top;	
	align-self: flex-start;
}

#doctml .bottom {
	vertical-align: bottom;
	align-self: flex-end;	
}

#doctml .vcenter {
	vertical-align: middle;
	align-self: center;
}

#doctml .left {
	text-align: left;	
	justify-self: flex-start;
}

#doctml .right {
	text-align: right;
	justify-self: flex-end;	
}

#doctml .hcenter {
	text-align: center;
	justify-self: center;	
}

#doctml .wrapper {
	display: flex;
	width: 100%;
}

#doctml .wrapper div {
	flex: 1;
}

#doctml .title {
	font-size: 16px;
	font-weight: bold;
	color: blue;
}

#doctml .label {
	font-weight: bold;
}

#doctml #main_title {
	color: red;
	border: solid thin red;
}
